## Frameworks needed for Cartwheel
#github "PureLayout/PureLayout" ~> 3.0.0
github "jeffreybergier/PureLayout" "master" ## needed for some code signing bug
github "DaveWoodCom/XCGLogger" ~> 3.0.0
github "duemunk/Async" ~> 1.4.0
github "jeffreybergier/SwiftObserverSet" "master"

## When using the official Carthage Github
github "Carthage/Carthage" "swift2" 